.menosMargen {
  width: 100%;
  padding: 1.5rem;
}

.imagenesDual {
  flex: 0 0 33.33%;
  max-width: 80%;
}

.imagenAspecto {
  border-radius: 2.5vw !important;
}

.imagenAspecto2 {
  border-radius: 2.8vw !important;
}
.colores {
  background-color: red;
}

.espacio1 {
  height: 20vh;
  position: relative;
  left: 5%;
}

.botonAlinear {
  position: relative;
  left: 93%;
}

.botonAgregar {
  z-index: 1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 82%;
}

.botonInfo {
  position: absolute;
  left: 89%;
  transform: translateX(-50%);
  top: 2%;
}

.Medio {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.cartItems {
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translateX(-50%);
  font-size: 0.85rem;
  font-weight: bolder;
  /* color: red; */
}

.cancelar {
  position: absolute;
  top: 0%;
  left: 95%;
}

.carrucelImg {
  padding: 0% !important;
}

.acomodo {
  border-color: transparent !important;
  border-top: 200px;
}

.rounded-card {
  border-radius: 50%;
  min-height: 500px;
  min-width: 500px;
}

#Texto {
  text-align: center;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  color: black;
}

.TextoTitulo {
  text-align: left;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  color: black;
  font-size: 5rem;
}

.TextoTituloAlt {
  text-align: left;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  color: #ffdf6e;
  font-size: 5rem;
}

.TextoTitulo10 {
  text-align: left;
  font-family: "Sen", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 5rem;
}

.amarilloTitulo::selection {
  background: #ffdf6e;
  color: black;
}

.negroTitulo::selection {
  background: black;
  color: white;
}

.SinLineaCard {
  border-color: transparent;
}

.textoSemi {
  font-family: "Sen", sans-serif;
  font-size: 1.75vw;
}

.textoBasic {
  font-family: "Sen", sans-serif;
  font-size: 1.2vw;
}

.textoBasic11 {
  font-family: "Sen", sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
}

.textoBasic6 {
  font-family: "Sen", sans-serif;
  font-size: 1.2vw;
  text-align: center;
}

.textoBasic2 {
  font-family: "Sen", sans-serif;
  font-size: 1vw;
  color: gray;
}

.textoBasic3 {
  font-family: "Sen", sans-serif;
  font-size: 1vw;
  color: black;
  text-align: end;
}

.textoBasic31 {
  font-family: "Sen", sans-serif;
  font-size: 1.5vw;
  text-align: center;
}

.textoBasic32 {
  font-family: "Sen", sans-serif;
  font-size: 1vw;
  text-align: center;
  text-decoration: underline black;
  cursor: pointer;
}

.textoBasic4 {
  font-family: "Sen", sans-serif;
  font-size: 1.2vw;
  color: black;
  font-weight: bold;
}

.textoTitulo3 {
  font-family: "Sen", sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  text-align: center;
}

.textoTitulo34 {
  font-family: "Sen", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
}

.textoTitulo4 {
  font-family: "Sen", sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  text-align: center;
}

.textoTitulo5 {
  font-family: "Sen", sans-serif;
  font-size: 1.7vw;
  font-weight: 800;
}

#izquierda {
  text-align: end;
  position: absolute;
  left: -1vw;
}

.caja {
  border: 3vw;
  border-color: #ffdf6e;
}

.singris {
  background-color: transparent!;
}

.centrar input {
  text-align: center;
}

.centrar1 {
  text-align: center;
}

.colores2 {
  background-color: #ffdf6e !important;
}
